			</div>
			<footer>
				<div class='overlay'>

					<div class="footer-row">
						<div class="footer-contact">
							<div class="footer-block">
								<h2>Adres</h2>
								Autoservice 2000 <br>
								Kerkdennen 40 <br>
								3851BB Ermelo<br>
							</div>
							<div class="footer-block">
								<h2>Contact Informatie</h2>
								Tel:0341-552064 <br>
								Fax:0341-559789 <br>
								Mob:06-53157977 <br>
								info@as2000.nl
							</div>
						</div>
						<ul>
							<li>
								<a href="https://www.facebook.com/autoservice2000">
								<div class="fs1" aria-hidden="true" data-icon="&#xe0c1;"></div> Facebook</a>
							</li>
						</ul>
					</div>
					<div class="footer-row">
						<div class='refs'>
							<h3>In samenwerking met
							</h3>
							<div class="img-wrapper">
								<img src="/images/anwb.png" height=100>
							</div>
							<div class="img-wrapper">
								<img src="/images/bovag.png" height=100>
							</div>
							<div class="img-wrapper">
								<img src="/images/rdw.png" height=100>
							</div>
						</div>
					</div>
				</div>
            </footer>
        </div>
        <?php
        	$bestandnaam = 'js/' . basename($_SERVER['PHP_SELF'], '.php') . '.js';
        	if(file_exists($bestandnaam))
        	{
        		echo '<script type="text/javascript" src="'. $bestandnaam . '"> </script>';
        	}
        ?>
		<script type="text/javascript" src="/js/flexnav-master/js/jquery.flexnav.min.js"></script>
		<script type="text/javascript">$(".flexnav").flexNav();</script>
    </body>
</html>