<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><?php echo $title; ?></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/cs-s" href="css/normalize.css"/>
	<link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/fonticons.css"/>
	<link href="js/flexnav-master/css/flexnav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script type="text/javascript" src="js/header.js"> </script>
	<script src="js/jquery-2.1.0.min.js" type="text/JavaScript"></script>
	<?php 	
		if(isset($head)){
			echo $head;
		}
	?>
</head>


<body>
	<div id="wrapper">
		<header>
			<div class="menu-button">Menu</div>
			<img id='logo' src="/images/logoas2000.jpg" >
			<ul class="flexnav flex-container" data-breakpoint="800">
				<li><a href="index.php">
					<div class="fs1" aria-hidden="true" data-icon="&#xe074;"></div>Home</a> 
				</li>
				<li><a href="http://vl.autotrack.nl/1367/O">
					<div class="fs1" aria-hidden="true" data-icon="&#xe06e;"></div>Occasions</a> 
				</li>
				<li><a onclick="dropdown()">
					<div class="fs1" aria-hidden="true" data-icon="&#xe035;"></div>Werkplaats</a> 
				</li>
				<div class="servicesdd">
					<div class="clearoverlay">
						<ul class="dropdown">
							<li>
								<a href="werkplaats/apk.php">APK</a>
							</li>
							<li>
								<a href="werkplaats/airco.php">Airco</a>
							</li>
							<li>
								<a href="werkplaats/diagnosis.php">Diagnosis</a>
							</li>
							<li>
								<a href="werkplaats/prijzen.php">Prijzen</a>
							</li>
							<li>
								<a href="werkplaats/uitlijnen.php">Uitlijnen</a>
							</li>
						</ul>
					</div>
				</div>
				<li><a href="caravan.php">
					<div class="fs1" aria-hidden="true" data-icon="&#xe005;"></div>Caravan</a> 
				</li>
				<li><a href="anwb.php">
					<div class="fs1" aria-hidden="true" data-icon="&#xe077;"></div>ANWB-pechhulp</a> 
				</li>
				<li><a href="contact.php">
					<div class="fs1" aria-hidden="true" data-icon="&#xe090;"></div>Contact</a> 
				</li>
			</ul>
		</header>
		<div id="content">

